h1 {
    color: red;
}

#spanId {
    font-size: 25px;
    margin: 50px;
}

#thirdDiv {
    width: 500px; 
    height: 600px; 
    background: yellow;
    padding: 50px;
    border: 1px solid red;
}

img {
    width: 400px;
}